[package]
name = "uniswap_v3_math"
version = "0.2.3"
edition = "2021"
license = "MIT"
description = "Uniswap V3 math in Rust"
readme = "README.md"
homepage = "https://github.com/0xKitsune/uniswap_v3_math"
repository = "https://github.com/0xKitsune/uniswap_v3_math"
keywords = ["uniswap", "math"]
exclude = [
    "target/*",
    ".github/*",
    ".gitignore",
    "Uniswap/*"
]


[dependencies]
ethers = "0.17.0"
thiserror = "1.0.36"

